<a href="https://colab.research.google.com/github/seungmin-lee-dotcom/seungmin-lee-dotcom/blob/main/pandas_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 프레임의 Null 여부 확인

In [1]:
import pandas as pd
import numpy as np

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근',
    'Durian': '두리안'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': np.nan,
    'Durian': 2
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1,
    'Durian': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

print(summary)
print(summary.notnull())
print(summary.isnull())
summary['frequency'] = summary['frequency'].fillna('데이터 없음')
print(summary)

       word  frequency  importance
Apple    사과        3.0           3
Banana  바나나        5.0           2
Carrot   당근        NaN           1
Durian  두리안        2.0           1
        word  frequency  importance
Apple   True       True        True
Banana  True       True        True
Carrot  True      False        True
Durian  True       True        True
         word  frequency  importance
Apple   False      False       False
Banana  False      False       False
Carrot  False       True       False
Durian  False      False       False
       word frequency  importance
Apple    사과         3           3
Banana  바나나         5           2
Carrot   당근    데이터 없음           1
Durian  두리안         2           1

시리즈 자료형의 연산

In [2]:
import pandas as pd

array1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
array2 = pd.Series([4, 5, 6], index=['B', 'C', 'D'])

array = array1.add(array2, fill_value=0)
print(array)

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

In [3]:
import pandas as pd

array1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
array2 = pd.Series([4, 5, 6], index=['B', 'C', 'D'])

array = array1.add(array2) # 겹치지 않기 때문에 NULL 나올거라 예상할 수 있음
print(array)

A    NaN
B    6.0
C    8.0
D    NaN
dtype: float64

데이터 프레임 자료형의 연산

In [4]:
import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['B', 'C', 'D'])

print(array1)
print(array2)

array = array1.add(array2, fill_value=0)
print(array)

   0  1
A  1  2
B  3  4
   0  1  2
B  1  2  3
C  4  5  6
D  7  8  9
     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0

데이터 프레임 집계 함수

In [5]:
import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['B', 'C', 'D'])

array = array1.add(array2, fill_value=0)
print(array)
print("컬럼 1의 합:", array[1].sum())
print(array.sum())

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
컬럼 1의 합: 21.0
0    16.0
1    21.0
2    18.0
dtype: float64

데이터 프레임 정렬 함수

In [10]:
import pandas as pd
import numpy as np

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근',
    'Durian': '두리안'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 1,
    'Durian': 2
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1,
    'Durian': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

print(summary)
summary = summary.sort_values('frequency', ascending=True) # frequency 부분을 오름차순 정렬함)
print(summary)

       word  frequency  importance
Apple    사과          3           3
Banana  바나나          5           2
Carrot   당근          1           1
Durian  두리안          2           1
       word  frequency  importance
Carrot   당근          1           1
Durian  두리안          2           1
Apple    사과          3           3
Banana  바나나          5           2